<div class="text-center">
  <h2>{{chat_name}}</h2>
  <!-- <p>{{{get_emoji}}}</p> -->
  
    <form class="form update-prompt-form">
      <div class="form-group">
        <label for="update-prompt-id">Saved Chat Prompt:</label>
        <input class= "prompt-input" type="text" id="update-prompt-id" value = "{{chat_prompt}}" data-updatepromptid={{id}} >
      </div>

      <div class="form-group">
        <label for="answer-id">chatGPT Response Answer:</label>
        <input class= "answer-input" type="text" id="answer-id" value = "{{chat_response_answer}}" data-answerid={{id}} >
      </div>
      
      <div class="form-group">
        <label for="analysis-id">chatGPT Response Analysis:</label>
        <input class= "analysis-input" type="text" id="analysis-id" value = "{{chat_response_analysis}}" data-analysisid={{id}} >
      </div>
      <div class="form-group">
        <label for="context-id">chatGPT Response Context:</label>
        <input class= "context-input" type="text" id="context-id" value = "{{chat_response_context}}" data-contextid={{id}} >
      </div>
      <div class="form-group">
        <label for="affirmation-id">chatGPT Response Affirmation:</label>
        <input class= "affirmation-input" type="text" id="affirmation-id" value = "{{chat_response_affirmation}}" data-affirmationid={{id}} >
      </div>
    </form>



    <form class="form comment-form">
    <div class="form-group">
        {{#if chatquestions.length}}
          {{#each chatquestions as |chatquestion|}}
          <div class="dish col-md-5">

            <!--<p>Blog id: {{comment.blog_id}}</p> -->

             
            <p class = "form-input">{{chatquestion.chat_question}}</p>
            
            <p>
             <!-- <input class = "form-input" type="text" id="comment-id-{{comment.id}}" value="{{comment.comment}}" /> -->
            </p>
           
           </div>
      
       <div>
          </div>
          {{/each}}
        {{/if}}
    </div>
    </form>




</div>

<script src="/js/chat.js"></script> 
